.categories {
  margin: 30px 0px;
  @media (max-width: 748px) {
    margin: 15px 0;
    overflow-x: scroll;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    button {
      @media (max-width: 576px) {
        padding: 13px 20px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      white-space: nowrap;
      li {
        font-size: 14px;
        background-color: #f9f9f9;
        padding: 13px 30px;
        border-radius: 30px;
        font-weight: bold;
        margin: 0px 12px 4px 0px;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        &:last-child {
          margin: 0px 0px 4px 0px;
        }

        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }

        &.active {
          background-color: #282828;
          color: #fff;
        }
        @media (max-width: 576px) {
          padding: 13px 20px;
        }
      }
    }
  }
}

.sort {
  margin-top: 15px;
  &__label {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    b {
      margin-right: 20px;
    }
    span {
      cursor: pointer;
      border-bottom: 1px dashed #8b8b8b;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.active {
        color: #9d84cc;
      }
    }
  }
}

.pagination {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  ul {
    display: inline-flex;
    box-sizing: border-box;
  }
  li {
    cursor: pointer;
    padding: 8px 14px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    border-radius: 30%;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background-color: #f9f9f9;
    }
    &.active {
      color: #fff;
      background-color: #9d84cc;
    }
  }
}
